* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #1d1d1d;
  color: #e4e4e4;
  font-family: "Source Sans Pro", sans-serif;
}


.a {
  color: inherit;
  text-decoration: none;
}